<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Smoke tests">

    <listeners>
        <listener class-name="Listeners"/>
    </listeners>

    <test name = "Test run">
        <classes>
            <class name="AddMoviesToList"/>
            <class name="AdvancedSearch"/>
            <class name="RegistrationTest"/>
            <class name="StreamingServices"/>
            <class name="Login"/>
        </classes>
    </test>
</suite>